
@{
    ViewBag.Title = "RegisterForwardPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterForwardPage</h2>
<p>
    Congratulations, your account has been created. Please log in.
    @Html.ActionLink("Login", "Login", "Account")
</p>

